<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InsightLab</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html {
        height: 100%;
      }
    </style>
  </head>

  <body class="flex flex-col m-0 bg-gray-100">
    <div class="flex flex-col items-center justify-around px-4 overflow-y-auto">
      <!-- Header -->
      <div class="flex flex-col items-center justify-between w-full p-4 my-4 bg-white rounded-lg shadow-sm md:w-3/4 lg:w-2/3 md:flex-row">
        <!-- Logo and title -->
        <div class="flex items-center mb-2 md:mb-0">
          <span class="text-xl font-bold text-green-500"> InsightLab </span>
        </div>
        <!-- Test title -->
        <div class="text-lg font-medium md:mb-0">{{ test_name|safe }}</div>
        <!-- Time left -->
        <div class="text-sm text-gray-600">
          Time to answer: <span id="timerDisplay" class="font-semibold text-green-500">00:00:00</span>

        </div>
      </div>

      <!-- Quiz Card -->
      <div class="w-full p-4 bg-white rounded-lg shadow-md md:p-8 md:w-3/4 lg:w-2/3">
        <!-- Question -->
        <h2 class="mb-4 text-xl font-semibold">
          Question {{ question_number }}/{{ total_questions }}
        </h2>
        <p class="mb-4">{{ question }}</p>
        <!-- Options -->
        <form method="POST">
          {% csrf_token %}
          <div class="mb-4">
            {% if question_type == 'single-choice' %} 
            {% for option in options %}
            <label class="flex items-center mb-2">
              <input
                class="mr-2"
                name="answer"
                type="radio"
                value="{{option.option_text}}"
              />{{option.option_text}}
            </label>
            {% endfor %} 
            {% elif question_type == 'multiple-choice' %} 
            {% for option in options %}
            <label class="flex items-center mb-2">
              <input
                class="mr-2"
                name="answer"
                type="checkbox"
                value="{{option.option_text}}"
              />{{option.option_text}}
            </label>
            {% endfor %} 
            {% else %}
            <label class="flex items-center mb-2">
              <input class="mr-2" name="answer" type="radio" value="True" />True
            </label>
            <label class="flex items-center mb-2">
              <input class="mr-2" name="answer" type="radio" value="False" />False
            </label>
            {% endif %}
            <input type="hidden" name="question" value="{{question}}">
            <input type="hidden" name="correct_answer" value="{{correct_answer}}">
            <input type="hidden" name="question_type" value="{{question_type}}">
          </div>
          <!-- Submit button -->
          <button
            class="px-4 py-2 text-green-500 transition duration-300 bg-white border border-green-600 rounded-md hover:bg-green-600 hover:text-white"
            type="submit"
          >
            Submit answer
          </button>
        </form>
      </div>
      <!-- Footer -->
      <div class="flex items-center justify-center p-4">
        <span class="text-gray-600">Powered by</span>
        <span class="ml-1 font-semibold text-green-500">InsightLab</span>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {

        // Time tracking
        {% if time_per_question %}
        const timeLimit = {{ time_per_question }};
        {% else %}
        const timeLimit = {{ time_limit }};
        {% endif %}
        
        let timeLeft = timeLimit;
        
        const timer = setInterval(() => {
          timeLeft--;
          const hours = Math.floor(timeLeft / 3600);
          const minutes = Math.floor(timeLeft / 60);
          const seconds = timeLeft % 60;
          document.getElementById('timerDisplay').textContent = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
          
          if (timeLeft <= 0) {
            clearInterval(timer);
            document.querySelector('form').submit();
          }
        }, 1000);

        // Check if the devtools are open
        const devtools = {
          isOpen: false,
          orientation: undefined,
        };

        const threshold = 170;

        const emitEvent = (isOpen, orientation) => {
          window.dispatchEvent(
            new CustomEvent("devtoolschange", {
              detail: {
                isOpen,
                orientation,
              },
            })
          );
        };

        const main = ({ emitEvents = true } = {}) => {
          const widthThreshold =
            window.outerWidth - window.innerWidth > threshold;
          const heightThreshold =
            window.outerHeight - window.innerHeight > threshold;
          const orientation = widthThreshold ? "vertical" : "horizontal";

          if (
            !(heightThreshold && widthThreshold) &&
            ((window.Firebug &&
              window.Firebug.chrome &&
              window.Firebug.chrome.isInitialized) ||
              widthThreshold ||
              heightThreshold)
          ) {
            if (
              (!devtools.isOpen || devtools.orientation !== orientation) &&
              emitEvents
            ) {
              emitEvent(true, orientation);
            }

            devtools.isOpen = true;
            devtools.orientation = orientation;
          } else {
            if (devtools.isOpen && emitEvents) {
              emitEvent(false, undefined);
            }

            devtools.isOpen = false;
            devtools.orientation = undefined;
          }
        };

        main({ emitEvents: false });
        setInterval(main, 500);

        if (devtools.isOpen) {
          console.log("DevTools is open");
          // Handle the detection, e.g., send a warning or log the event
        } else {
          console.log("DevTools is closed");
        }

        window.addEventListener("devtoolschange", (event) => {
          console.log("DevTools status changed:", event.detail.isOpen);
          if (event.detail.isOpen) {
            // Handle the detection, e.g., send a warning or log the event
          }
        });
      });
    </script>
  </body>
</html>
